<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZadanieDomoweLab4.Properties.Settings.ZadanieDomoweLab3ConnectionString"
            connectionString="Data Source=LAPTOP-TBU3K31F\SQLEXPRESS;Initial Catalog=ZadanieDomoweLab3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>