USE [ZadanieDomoweLab5]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 11.12.2017 00:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameOfGame] [nvarchar](31) NOT NULL,
	[LevelOfDifficulty] [nvarchar](31) NULL,
	[StatisticsID] [int] NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonalRanking]    Script Date: 11.12.2017 00:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalRanking](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Score] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_PersonalRanking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Statistics]    Script Date: 11.12.2017 00:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NumberOfViews] [int] NOT NULL,
	[TimeSpendInGame] [int] NOT NULL,
 CONSTRAINT [PK_Statistics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfos]    Script Date: 11.12.2017 00:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](31) NOT NULL,
	[Surname] [nvarchar](31) NOT NULL,
	[EyeColor] [nvarchar](31) NULL,
	[FavouriteAnimal] [nvarchar](31) NULL,
 CONSTRAINT [PK_UserInfos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Games] ON 

INSERT [dbo].[Games] ([ID], [NameOfGame], [LevelOfDifficulty], [StatisticsID]) VALUES (1, N'GuessTheNumber', N'Easy', 3)
INSERT [dbo].[Games] ([ID], [NameOfGame], [LevelOfDifficulty], [StatisticsID]) VALUES (2, N'Chess', N'Hard', 1)
INSERT [dbo].[Games] ([ID], [NameOfGame], [LevelOfDifficulty], [StatisticsID]) VALUES (3, N'Puzzle', N'Easy', 2)
SET IDENTITY_INSERT [dbo].[Games] OFF
SET IDENTITY_INSERT [dbo].[PersonalRanking] ON 

INSERT [dbo].[PersonalRanking] ([ID], [Score], [UserID]) VALUES (1, 7, 1)
INSERT [dbo].[PersonalRanking] ([ID], [Score], [UserID]) VALUES (2, 6, 4)
INSERT [dbo].[PersonalRanking] ([ID], [Score], [UserID]) VALUES (3, 5, 3)
SET IDENTITY_INSERT [dbo].[PersonalRanking] OFF
SET IDENTITY_INSERT [dbo].[Statistics] ON 

INSERT [dbo].[Statistics] ([ID], [NumberOfViews], [TimeSpendInGame]) VALUES (1, 400, 1500)
INSERT [dbo].[Statistics] ([ID], [NumberOfViews], [TimeSpendInGame]) VALUES (2, 350, 404)
INSERT [dbo].[Statistics] ([ID], [NumberOfViews], [TimeSpendInGame]) VALUES (3, 1000, 1654)
SET IDENTITY_INSERT [dbo].[Statistics] OFF
SET IDENTITY_INSERT [dbo].[UserInfos] ON 

INSERT [dbo].[UserInfos] ([ID], [FirstName], [Surname], [EyeColor], [FavouriteAnimal]) VALUES (1, N'Rafal', N'Kowalski', N'Zielone', N'Zebra')
INSERT [dbo].[UserInfos] ([ID], [FirstName], [Surname], [EyeColor], [FavouriteAnimal]) VALUES (2, N'Maciej', N'Nowak', N'Niebieskie', N'Pies')
INSERT [dbo].[UserInfos] ([ID], [FirstName], [Surname], [EyeColor], [FavouriteAnimal]) VALUES (3, N'Łukasz', N'Wojtaszek', N'Zielone', N'Glonojad')
SET IDENTITY_INSERT [dbo].[UserInfos] OFF
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Statistics] FOREIGN KEY([StatisticsID])
REFERENCES [dbo].[Statistics] ([ID])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Statistics]
GO
ALTER TABLE [dbo].[PersonalRanking]  WITH CHECK ADD  CONSTRAINT [FK_PersonalRanking_UserInfos] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfos] ([ID])
GO
ALTER TABLE [dbo].[PersonalRanking] CHECK CONSTRAINT [FK_PersonalRanking_UserInfos]
GO
