USE [ZadanieDomoweLab3]
GO
/****** Object:  Table [dbo].[Animals]    Script Date: 26.11.2017 12:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animals](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[NameOfTheAnimal] [nvarchar](31) NOT NULL,
	[HowManyAnimals] [smallint] NOT NULL,
	[BasicInfoId] [smallint] NOT NULL,
	[EmployeesInfoId] [smallint] NOT NULL,
 CONSTRAINT [PK_Animals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BasicInfo]    Script Date: 26.11.2017 12:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasicInfo](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[TypeOfAnAnimal] [nvarchar](15) NOT NULL,
	[Climate] [nvarchar](31) NOT NULL,
 CONSTRAINT [PK_BasicInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 26.11.2017 12:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[NameOfTheBuilding] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Buildings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 26.11.2017 12:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](31) NOT NULL,
	[Surname] [nvarchar](31) NOT NULL,
	[PESEL] [nchar](11) NOT NULL,
	[JobId] [smallint] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeesInfo]    Script Date: 26.11.2017 12:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesInfo](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[FoodForAnimal] [nvarchar](31) NOT NULL,
	[HowManyTimesFed] [smallint] NOT NULL,
 CONSTRAINT [PK_EmployeesInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 26.11.2017 12:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[NameOfFood] [nvarchar](31) NOT NULL,
	[Price] [smallint] NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TicketPrice]    Script Date: 26.11.2017 12:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketPrice](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[TypeOfTicket] [nvarchar](31) NOT NULL,
	[Price] [smallint] NOT NULL,
 CONSTRAINT [PK_TicketPrice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Visitors]    Script Date: 26.11.2017 12:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitors](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Hour] [nvarchar](15) NOT NULL,
	[HowManyVisitors] [nvarchar](31) NOT NULL,
 CONSTRAINT [PK_Visitors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkSchedule]    Script Date: 26.11.2017 12:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedule](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[BuildingId] [smallint] NOT NULL,
	[EmployeeId] [smallint] NOT NULL,
	[AnimalId] [smallint] NOT NULL,
 CONSTRAINT [PK_WorkSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkType]    Script Date: 26.11.2017 12:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkType](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Job] [nvarchar](31) NOT NULL,
	[Salary] [smallint] NOT NULL,
 CONSTRAINT [PK_WorkType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Animals] ON 

INSERT [dbo].[Animals] ([Id], [NameOfTheAnimal], [HowManyAnimals], [BasicInfoId], [EmployeesInfoId]) VALUES (1, N'Tygrys', 3, 6, 2)
INSERT [dbo].[Animals] ([Id], [NameOfTheAnimal], [HowManyAnimals], [BasicInfoId], [EmployeesInfoId]) VALUES (2, N'Pingwin', 7, 4, 5)
INSERT [dbo].[Animals] ([Id], [NameOfTheAnimal], [HowManyAnimals], [BasicInfoId], [EmployeesInfoId]) VALUES (3, N'Zebra', 4, 6, 1)
SET IDENTITY_INSERT [dbo].[Animals] OFF
SET IDENTITY_INSERT [dbo].[BasicInfo] ON 

INSERT [dbo].[BasicInfo] ([Id], [TypeOfAnAnimal], [Climate]) VALUES (1, N'Ssak', N'Umiarkowany')
INSERT [dbo].[BasicInfo] ([Id], [TypeOfAnAnimal], [Climate]) VALUES (2, N'Ptak', N'Umiarkowany')
INSERT [dbo].[BasicInfo] ([Id], [TypeOfAnAnimal], [Climate]) VALUES (3, N'Gad', N'Umiarkowany')
SET IDENTITY_INSERT [dbo].[BasicInfo] OFF
SET IDENTITY_INSERT [dbo].[Buildings] ON 

INSERT [dbo].[Buildings] ([Id], [NameOfTheBuilding]) VALUES (1, N'Afrykarium')
INSERT [dbo].[Buildings] ([Id], [NameOfTheBuilding]) VALUES (2, N'Akwarium')
INSERT [dbo].[Buildings] ([Id], [NameOfTheBuilding]) VALUES (3, N'Terrarium')
SET IDENTITY_INSERT [dbo].[Buildings] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Surname], [PESEL], [JobId]) VALUES (1, N'Bob', N'Kowalski', N'87060703283', 1)
INSERT [dbo].[Employees] ([Id], [Name], [Surname], [PESEL], [JobId]) VALUES (2, N'Andrzej', N'Duda', N'52082913196', 3)
INSERT [dbo].[Employees] ([Id], [Name], [Surname], [PESEL], [JobId]) VALUES (3, N'Ricky', N'Martin', N'45121800094', 3)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[EmployeesInfo] ON 

INSERT [dbo].[EmployeesInfo] ([Id], [FoodForAnimal], [HowManyTimesFed]) VALUES (1, N'Ziarna i owoce', 3)
INSERT [dbo].[EmployeesInfo] ([Id], [FoodForAnimal], [HowManyTimesFed]) VALUES (2, N'Mięso', 3)
INSERT [dbo].[EmployeesInfo] ([Id], [FoodForAnimal], [HowManyTimesFed]) VALUES (3, N'Mięso', 4)
SET IDENTITY_INSERT [dbo].[EmployeesInfo] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([Id], [NameOfFood], [Price]) VALUES (1, N'Tost z serem', 6)
INSERT [dbo].[Menu] ([Id], [NameOfFood], [Price]) VALUES (2, N'Kanapka z szynką', 5)
INSERT [dbo].[Menu] ([Id], [NameOfFood], [Price]) VALUES (3, N'Burger', 10)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[TicketPrice] ON 

INSERT [dbo].[TicketPrice] ([Id], [TypeOfTicket], [Price]) VALUES (1, N'Normalny', 40)
INSERT [dbo].[TicketPrice] ([Id], [TypeOfTicket], [Price]) VALUES (2, N'Ulgowy', 30)
INSERT [dbo].[TicketPrice] ([Id], [TypeOfTicket], [Price]) VALUES (3, N'Studencki', 35)
SET IDENTITY_INSERT [dbo].[TicketPrice] OFF
SET IDENTITY_INSERT [dbo].[Visitors] ON 

INSERT [dbo].[Visitors] ([Id], [Hour], [HowManyVisitors]) VALUES (1, N'8', N'B.Niewielki Ruch')
INSERT [dbo].[Visitors] ([Id], [Hour], [HowManyVisitors]) VALUES (2, N'9', N'Niewielki Ruch')
INSERT [dbo].[Visitors] ([Id], [Hour], [HowManyVisitors]) VALUES (3, N'10', N'Niewielki Ruch')
SET IDENTITY_INSERT [dbo].[Visitors] OFF
SET IDENTITY_INSERT [dbo].[WorkSchedule] ON 

INSERT [dbo].[WorkSchedule] ([Id], [BuildingId], [EmployeeId], [AnimalId]) VALUES (1, 1, 2, 1)
INSERT [dbo].[WorkSchedule] ([Id], [BuildingId], [EmployeeId], [AnimalId]) VALUES (2, 2, 6, 2)
INSERT [dbo].[WorkSchedule] ([Id], [BuildingId], [EmployeeId], [AnimalId]) VALUES (3, 1, 3, 3)
SET IDENTITY_INSERT [dbo].[WorkSchedule] OFF
SET IDENTITY_INSERT [dbo].[WorkType] ON 

INSERT [dbo].[WorkType] ([Id], [Job], [Salary]) VALUES (1, N'Manager', 5000)
INSERT [dbo].[WorkType] ([Id], [Job], [Salary]) VALUES (2, N'Ogrodnik', 3000)
INSERT [dbo].[WorkType] ([Id], [Job], [Salary]) VALUES (3, N'Opiekun Zwierząt', 3500)
SET IDENTITY_INSERT [dbo].[WorkType] OFF
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_BasicInfo] FOREIGN KEY([BasicInfoId])
REFERENCES [dbo].[BasicInfo] ([Id])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_BasicInfo]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_EmployeesInfo] FOREIGN KEY([EmployeesInfoId])
REFERENCES [dbo].[EmployeesInfo] ([Id])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_EmployeesInfo]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_WorkType] FOREIGN KEY([JobId])
REFERENCES [dbo].[WorkType] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_WorkType]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_Animals] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animals] ([Id])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_Animals]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_Buildings] FOREIGN KEY([BuildingId])
REFERENCES [dbo].[Buildings] ([Id])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_Buildings]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_Employees]
GO
